<div class="panel panel-default">
    <div class="panel-heading">Add Ticket</div>
    <div class="panel-body">
        <form #f="ngForm" novalidate (ngSubmit)="onSubmit()">
            <div class="row">

                <div class="col-md-4">
                    <label for="name">Ticket No</label>
                    <input type="text" class="form-control"  readonly name="ticketno" [(ngModel)]="ticketmdoel.ticketno" maxlength="50"
                    #refExamName="ngModel" id="ticketno">
                </div>

                <div class="col-md-4">
                    <label for="name">Ticket Date</label>
                    <input type="date" class="form-control"  name="ticketdate" [ngModel]="ticketmdoel.ticketdate|date:'yyyy-MM-dd'" (ngModelChange)="ticketmdoel.ticketdate=$event" maxlength="50"
                    #refticketdate="ngModel" id="ticketdate" required>
                </div>

                <div class="col-md-4">
                    <label for="name">Ticket Time</label>
                    <input type="time" class="form-control"  name="tikcettime" [(ngModel)]="ticketmdoel.tickettime" maxlength="50"
                    #refExamName="ngModel" id="tickettime" required>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <label for="name">Query Type</label>
                    <select required name="querytype" #refQuestionBank="ngModel" class="form-control" [(ngModel)]="ticketmdoel.tickettype">
                        <option value=''>Please select Value</option>
                        <option value='CREDIT'>Credit</option>
                        <option value='PICKUP'>Pickup</option>
                        <option value='DEPOSITION'>Deposition</option>
                    </select>
                </div>

                <div class="col-md-4">
                    <label for="name">Email Subject</label>
                    <input type="text" class="form-control" required name="emailsubject" [(ngModel)]="ticketmdoel.emailsubject" maxlength="50"
                    #refExamName="ngModel" id="emailsubject">
                </div> 
                
                <div class="col-md-4">
                    <label >Email From</label>
                    <input type="text" class="form-control" required name="emailfrom" [(ngModel)]="ticketmdoel.emailfrom" maxlength="50"
                    #refExamName="ngModel" id="emailfrom">
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label for="name">Region</label>
                    <input type="text" class="form-control" readonly name="region" [(ngModel)]="ticketmdoel.region" maxlength="50"
                    #refExamName="ngModel" id="region">
                </div>
                
                <div class="col-md-4">
                    <label for="name">Location</label>
                    <input type="text" class="form-control" readonly name="location" [(ngModel)]="ticketmdoel.location" maxlength="50"
                    #refExamName="ngModel" id="location">
                </div>
                               
                <div class="col-md-4">
                    <label for="name">Hublocation</label>
                    <input type="text" class="form-control" readonly name="hublocation" [(ngModel)]="ticketmdoel.hublocation" maxlength="50"
                    #refExamName="ngModel" id="hublocation">
                </div>
            </div>

            <div class="row">
                
                <div class="col-md-4">
                    <label for="name">Customer</label>
                    <input type="text" class="form-control" name="bank" [(ngModel)]="ticketmdoel.bank" maxlength="50"
                    #refExamName="ngModel" id="bank">
                </div>

                <div class="col-md-4">
                    <label for="name">Pickup Code</label>
                    <input type="text" class="form-control"  name="pickupcode" [(ngModel)]="ticketmdoel.pickupcode" maxlength="50"
                    #refExamName="ngModel" id="pickupcode">
                </div>
                
                <div class="col-md-4">
                    <label for="name">Client Code</label>
                    <input type="text" class="form-control"  name="clientcode" [(ngModel)]="ticketmdoel.clientcode" maxlength="50"
                    #refExamName="ngModel" id="clientcode" (blur)="onFocusOutEvent($event)">
                </div>
                

            </div>

            <div class="row">
                               
                <div class="col-md-4">
                    <label for="name">CRN No</label>
                    <input type="text" class="form-control" name="crnno" [(ngModel)]="ticketmdoel.crnno" maxlength="50"
                    #refExamName="ngModel" id="crnno" (blur)="onCrnOutEvent($event)">
                </div>

                <div class="col-md-4">
                    <label for="name">Client Name</label>
                    <input type="text" class="form-control" readonly name="client" [(ngModel)]="ticketmdoel.client" maxlength="50"
                    #refExamName="ngModel" id="client">
                </div>
                
                <div class="col-md-4">
                    <label for="name">Area</label>
                    <input type="text" class="form-control" readonly name="area" [(ngModel)]="ticketmdoel.area" maxlength="50"
                    #refExamName="ngModel" id="area">
                </div>
                
            </div>

            <div class="row">
                               
                <div class="col-md-4">
                    <label for="name">Customer Type</label>
                    <input type="text" class="form-control" readonly name="customertype" [(ngModel)]="ticketmdoel.customertype" maxlength="50"
                    #refcustomertype="ngModel" id="customertype">
                </div>
                
                <div class="col-md-4">
                    <label for="name">Hierarchy Code</label>
                    <input type="text" class="form-control" readonly name="hierarchycode" [(ngModel)]="ticketmdoel.hierarchycode" maxlength="50"
                    #refhierarchycode="ngModel" id="hierarchycode">
                </div>
                
                <div class="col-md-4">
                    <label for="name">CDP/NCM</label>
                    <input type="text" class="form-control" readonly name="cdpncm" [(ngModel)]="ticketmdoel.cdpncm" maxlength="50"
                    #refExamName="ngModel" id="cdpncm">
                </div>

            </div>
         

            <div class="row">
                <div class="col-md-4">
                    <button type="submit" style="margin-top: 10px" [disabled]="!f.form.valid" class="btn btn-success"  >Submit</button>
                    <a style="margin-left: 10px; margin-top:7px;" class="btn btn-info" [routerLink]="['/ticket/all']">
                        All Tickets 
                    </a>
                    <a style="margin-left: 10px; margin-top:7px;" class="btn btn-info" [routerLink]="['/ticket/semdemail']">
                        Send Email to Location 
                    </a>
                </div>
            </div>

        </form>    
    </div>
</div>