<h4>Bank Master</h4>
<hr>
<div class="panel panel-default">
    <div class="panel-heading">Add Bank</div>
    <div class="panel-body">
        <form #f="ngForm" novalidate (ngSubmit)="onSubmit()">
            <div class="row">

                <div class="col-md-4">

                    <label >Bank Name</label>

                    <input type="text" class="form-control" name="bankname" [(ngModel)]="bankname" maxlength="50"
                    #refbankname="ngModel" id="bankname" required>

                    <div *ngIf="!refbankname.valid  && (refbankname.dirty || refbankname.touched)" class="alert alert-danger">
                        <div [hidden]="!refbankname.errors.required">
                            Bank Name is required
                        </div>
                    </div>

                </div>
            </div>    

            <div class="row">
                <div class="col-md-3">
                    <button type="submit" style="margin-top: 10px" [disabled]="!f.form.valid" class="btn btn-success"  >Submit</button>
                </div>
            </div>

        </form>    
    </div>
</div>
