<h4>Excel Uploads</h4>
<hr>
<div class="panel panel-default">
    <div class="panel-heading">Upload Excel</div>
    <div class="panel-body">
        <form #f="ngForm" novalidate >
            <div class="row">

                <div class="col-md-4">

                    <label >Bulk Tickets Upload</label>

                    <input type="file" class="form-control" name="fileupload"  (change)="onFileChange($event)"> 

                </div>

                <div class="col-md-2">
                    <label for="name">Download Template</label>
                    <button type="button" (click)="downloadDocFile()" class="btn btn-success" >  
                        <span class="fa fa-download"> Download Template </span>  
                    </button>  
                </div>

                <div class="col-md-4">

                    <label >Bulk Tickets Closure</label>

                    <input type="file" class="form-control" name="fileuploadclose"  (change)="onFileChangeClose($event)"> 

                </div>

                <div class="col-md-2">
                    <label for="name">Download Template</label>
                    <button type="button" (click)="downloadDocFileClose()" class="btn btn-success" >  
                        <span class="fa fa-download"> Download Template </span>  
                    </button>  
                </div>


            </div>    
            <div class="row">
                <div class="col-md-12">
                    <a style="margin-left: 10px; margin-top:7px;" class="btn btn-info" [routerLink]="['/ticket/all']">
                        Ticket Dashboard 
                    </a>
                </div>
            </div>


        </form>    
    </div>
</div>
